#!/usr/bin/env ruby

preprocess do
  config[:genghis_version] = get_genghis_version
end

passthrough '/CNAME/'

compile '/script/' do
  filter :erb
  filter :uglify_js, :copyright => false
end
route '/script/' do
  '/script.js'
end

compile '/html5/' do; end
route '/html5/' do
  '/html5.js'
end

compile '/script/*' do; end
route '/script/*' do; end

compile '/style/' do
  filter :less
  filter :rainpress
end
route '/style/' do
  '/style.css'
end

compile '/ie/' do
  filter :less
  filter :rainpress
end
route '/ie/' do
  '/ie.css'
end

compile '/style/*' do; end
route '/style/*' do; end

route '/404/' do
  '/404.html'
end

compile '/changelog/' do
  filter :erb
  layout 'default'
end
route '/changelog/' do
  '/changelog/index.html'
end

compile '/changelog/*' do
  filter :kramdown
  filter :github_issue_links, project: 'bobthecow/genghis'
end
route '/changelog/*' do; end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    filter :kramdown if ['markdown', 'md'].include? item[:extension]
    layout 'default'
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
