---
title: Genghis, the single-file MongoDB admin app.
---
<nav>
  <li>
    <input value="gem install genghisapp" autocorrect="off" autocomplete="off" readonly="true">
    <span>or</span>
    <a class="download" href="https://github.com/bobthecow/genghis/archive/v<%= @config[:genghis_version] %>.zip" title="Genghis v<%= @config[:genghis_version] %>">Download</a>
  </li>
  <li><a href="https://github.com/bobthecow/genghis#readme">Docs</a></li>
  <li><a href="/changelog/">Changes</a></li>
  <li><a href="https://github.com/bobthecow/genghis/issues">Issues</a></li>
  <li><span>Version <%= @config[:genghis_version] %></span></li>
</nav>

<ul id="screenshots">
  <% screenshots.each do |screen| %>
    <li<% if screen.identifier.include? "/mobile/" %> class="mobile"<% end %>><img src="<%= screen.path %>"></li>
  <% end %>
</ul>
