---
title: Genghis, the single-file MongoDB admin app.
---
<nav>
  <li><a class="download" href="https://github.com/downloads/bobthecow/genghis/genghis-<%= @config[:genghis_version] %>.tgz" title="Genghis v<%= @config[:genghis_version] %>">Download</a></li>
  <li><a href="https://github.com/bobthecow/genghis">GitHub project</a></li>
  <li><a href="https://github.com/bobthecow/genghis/issues">Issues</a></li>
  <li><span>Version <%= @config[:genghis_version] %></span></li>
</nav>

<ul id="screenshots">
  <% @items.select{|i| i.identifier =~ /^\/screenshots\/./}.each do |screen| %>
    <li><img src="<%= screen.path %>"></li>
  <% end %>
</ul>
