---
title: Genghis, the single-file MongoDB admin app.
version: 1.2.0
---
<nav>
  <a href="https://github.com/downloads/bobthecow/genghis/genghis-<%= @item[:version] %>.tgz" title="Genghis v<%= @item[:version] %>">Download</a>
</nav>

<section id="screenshots">
  <% @items.select{|i| i.identifier =~ /^\/screenshots\/./}.each do |screen| %>
    <span class="screenshot"><img src="<%= screen.path %>"></span>
  <% end %>
</section>
