@import 'style/reset';
@import 'style/mixins';

@mongoGreen: #1d8835;
@headerBg:   #1c1c1c;

@fg:         #111;
@bg:         #f2f2f2;

@black:      #111;
@lightBlack: #333;
@grey:       #666;
@lightGrey:  #888;

@px:   0.125rem;
@1px:  1*@px;
@2px:  2*@px;
@3px:  3*@px;
@4px:  4*@px;
@6px:  6*@px;
@8px:  8*@px;
@10px: 10*@px;
@12px: 12*@px;
@16px: 16*@px;
@24px: 24*@px;
@32px: 32*@px;
@48px: 48*@px;
@72px: 72*@px;

@import 'style/content';