body {
  background-color: @bg;
  font-family: 'Rokkitt';
}

h1,h2,h3 {
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

a:link, a:visited {
  color: @blue;
}
a:hover, a:active {
  color: @black;
}

header {
  margin: 0 auto;
  padding: @gutter 25%;
  max-width: 800px;
  h1, h2 {
    text-align: center;
    margin: 0;
  }
  h1 {
    margin-bottom: -.15em;
    color: @light-black;
    text-shadow: 0 -1px 0 black;
    font-weight: 700;
  }
  h2 {
    color: @light-grey;
    font-weight: normal;
  }
}

nav, section {
  max-width: 800px;
  margin: @gutter;
}

nav {
  text-align: center;
  a {
    display: inline-block;
    font-weight: bold;
    font-size: 200%;
    background-color: @light-grey;
    text-decoration: none;
    padding: .25em .5em;
    .border-radius(.25em);
    opacity: .5;
    &:link, &:visited {
      color: white;
    }
    &:hover {
      background-color: @grey;
    }
    &:active {
      background-color: @black;
    }
  }
}

section {
  &#screenshots {
    text-align: center;
    position: relative;
    .screenshot {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      &:first-child {
        display: inline-block;
      }
    }
  }

  &#fourohfour {
    text-align: center;
    h1 {
      margin: 2*@gutter 0;
    }
  }
}

.screenshot {
  .border-radius(5px);
  margin-top: @gutter;
  margin-bottom: @gutter;
  box-shadow: 0 0 15px rgba(0,0,0,.2), 0 0 1px rgba(0,0,0,.3);
  display: inline-block;
  overflow: hidden;

  &:before {
    display: block;
    content: '\2295 \2297';
    text-align: right;
    font-size: 1em;
    line-height: 2;
    letter-spacing: .4em;
    color: #AAA;

    background-color: #EEE;
    .vertical-gradient(rgba(255,255,255,.05), rgba(0,0,0,.1));
    padding: 0 .5em;
    border-bottom: 1px solid rgba(0,0,0,.4);
  }

  > img {
    display: block;
    max-width: 100%;
  }
}

footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 80%;
  line-height: 1;
  color: @light-grey;
  text-align: center;
  padding-bottom: .25*@gutter;
  background-color: @bg;

  &:before {
    .vertical-gradient(rgba(255,255,255,0), @bg);
    height: @gutter;
    margin-top: -1*@gutter;
    display: block;
    content: '.';
    text-indent: -10000em;
    width: 100%;
  }
}


@media screen and (max-width: 480px) {
  .screenshot:before { font-size: 7px; }
  h1 { font-size: 57px; }
  h2 { font-size: 14px; }
}
@media screen and (min-width: 480px) and (max-width: 600px) {
  .screenshot:before { font-size: 11px; }
  h1 { font-size: 68px; }
  h2 { font-size: 16px; }
}
@media screen and (min-width: 600px) and (max-width: 848px) {
  .screenshot:before { font-size: 16px; }
  h1 { font-size: 85px; }
  h2 { font-size: 21px; }
}
@media screen and (min-width: 848px) {
  nav, section { margin: @gutter auto; }
  .screenshot:before { font-size: 16px; }
  h1 { font-size: 120px; }
  h2 { font-size: 30px; }
}