.mastheadbg(@bgColor) {
    background:
        -webkit-radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 0 0,
        -webkit-radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 16px 16px,
        -webkit-radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 0 -1px,
        -webkit-radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 16px 15px,
        -webkit-radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 0 1px,
        -webkit-radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 16px 17px;
    background:
           -moz-radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 0 0,
           -moz-radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 16px 16px,
           -moz-radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 0 -1px,
           -moz-radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 16px 15px,
           -moz-radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 0 1px,
           -moz-radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 16px 17px;
    background:
           -ms-radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 0 0,
           -ms-radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 16px 16px,
           -ms-radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 0 -1px,
           -ms-radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 16px 15px,
           -ms-radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 0 1px,
           -ms-radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 16px 17px;
    background:
            -o-radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 0 0,
            -o-radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 16px 16px,
            -o-radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 0 -1px,
            -o-radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 16px 15px,
            -o-radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 0 1px,
            -o-radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 16px 17px;
    background:
               radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 0 0,
               radial-gradient(darken(@bgColor, 3%)    25%, transparent 26%) 16px 16px,
               radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 0 -1px,
               radial-gradient(rgba(0, 0, 0, .2)       25%, transparent 26%) 16px 15px,
               radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 0 1px,
               radial-gradient(rgba(255, 255, 255, .1) 25%, transparent 26%) 16px 17px;

    -webkit-background-size: 32px 30px;
       -moz-background-size: 32px 30px;
        -ms-background-size: 32px 30px;
         -o-background-size: 32px 30px;
            background-size: 32px 30px;

    background-color: @bgColor;
}



html {
  font-size: 8px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  .mastheadbg(@headerBg);
  min-width: 300px;
  &.item-404 {
    .mastheadbg(darken(#b94a48, 25%));
  }
}

header h1, footer p, html.item-404 section#main, html.item-changelog section#main h1 {
  font-family: "Rokkitt";
}

body {
  font-size: @6px;
  text-align: center;
  padding-bottom: @48px;
}

code {
  font-family: 'Source Code Pro';
  font-weight: 400;
  white-space: nowrap;
  padding: 0 @1px;
  color: @black;
  background-color: @bg;
  border: 1px solid darken(@bg, 5%);
  .border-radius(@1px);
}

a {
  &:link, &:visited {
    color: @mongoGreen;
    text-decoration: none;
  }
  &:hover, &:active {
    text-decoration: underline;
  }
}

::-moz-selection {
  color: white;
  background: @mongoGreen;
  text-shadow: none;
}

::selection {
  color: white;
  background: @mongoGreen;
  text-shadow: none;
}


header {
  text-shadow: 0 @1px @3px rgba(0,0,0,.4), 0 0 @24px rgba(0,0,0,.075);
  padding-top: @24px;
  h1 {
    font-weight: bold;
    font-family: 'Rokkitt';
    margin:    0;
    font-size: @72px;
    a {
      .transition(text-shadow .2s ease-in-out);
      &:link, &:visited {
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
      }
      &:hover, &:active {
        text-decoration: none;
        text-shadow: 0 0 @8px fadeout(@mongoGreen, 40%);
      }
    }
  }
  h2 {
    margin: 0;
    font-weight: 200;
    font-size: @16px;
  }
  html.item-404 & {
    .opacity(33);
  }
}

nav {
  color: rgba(255,255,255,.2);
  margin: @24px 0;
  ul, li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 0 @8px;
    &:first-child {
      display: block;
      margin-bottom: @12px;
      span {
        display: block;
        margin:  @8px 0;
      }
    }
  }
  input {
    background-color: rgba(0,0,0,.33);
    .box-shadow(inset 0 @6px @6px black, 0 0 @24px rgba(0,0,0,.5));
    border: 1px solid #333;
    .border-radius(@2px);
    color: rgba(255,255,255,.5);
    display: block;
    margin: 0 auto;
    width: 120*@px;
    padding: @4px @8px;
    font-size: @8px;
    text-align: center;
    .transition(~"box-shadow .2s ease-in-out, border-color .2s ease-in-out");
    &:hover, &:focus {
      color: rgba(255,255,255,1);
    }
    &:focus {
      border-color: fadeout(@mongoGreen, 20%);
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      .box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 @8px fadeout(@mongoGreen, 40%));
    }
  }
  a {
    font-weight: 200;
    &:link, &:visited {
      color: rgba(255,255,255,.5);
    }
    &:hover, &:active {
      color: #FFF;
    }
  }
}


a.download {
  #gradient > .vertical(lighten(@mongoGreen, 5%), darken(@mongoGreen, 10%));
  .border-radius(@16px);
  display: inline-block;
  padding:     @6px @32px @10px;
  font-size:   @16px;
  line-height: @16px;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,.2), 0 -1px 0 black, 0 0 @8px rgba(0,0,0,.2);
  .box-shadow(~"inset 0 @{8px}rem @{8px}rem rgba(255,255,255,.125), 0 -1px 0 black, 0 1px 0 rgba(255,255,255,.25), 0 @{1px}rem @{3px}rem rgba(0,0,0,.4), 0 0 @{24px}rem rgba(0,0,0,.5), 0 0 @{8px}rem rgba(0,0,0,.2)");

  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: white;
  }
  &:hover {
    #gradient > .vertical(darken(@mongoGreen, 5%), darken(@mongoGreen, 15%));
  }
  &:active {
    #gradient > .vertical(darken(@mongoGreen, 10%), darken(@mongoGreen, 15%));
    .box-shadow(~"inset 0 @{4px}rem @{8px}rem rgba(0,0,0,.25), 0 -1px 0 black, 0 1px 0 rgba(255,255,255,.25), 0 @{1px}rem @{3px}rem rgba(0,0,0,.4), 0 0 @{24px}rem rgba(0,0,0,.5), 0 0 @{8px}rem rgba(0,0,0,.2)");
  }


  // title!
  &:after {
    content: attr(title);
    font-weight: 200;
    font-size: @4px;
    margin-top: -@4px;
    display: block;
    position: absolute;
    left: 50%;
    width: 12em;
    margin-left: -6em;
    opacity: .5;
  }
}

a.fork-me {
  img {
    position: absolute;
    top:    0;
    right:  0;
    border: 0;
  }
}

#screenshots {
  margin:  0;
  padding: 0;
  display: block;

  li {
    margin:  @12px;
    padding: 0;
    display: inline-block;
    width: 240*@px;
    .border-radius(@3px);
    .box-shadow(0 @8px @8px rgba(0,0,0,.75), 0 0 @24px rgba(0,0,0,.5));
    border-top: 1px solid #AAA;
    position: relative;

    &:before {
      .border-top-radius(@2px);
      display: block;
      content: '\2212 \002B \00D7';
      text-align: right;
      font-family: Helvetica, Arial, sans-serif;
      font-size:   @6px;
      font-weight: bold;
      line-height: 2;
      letter-spacing: @3px;
      color: #555;
      text-shadow: 0 -1px 0 @lightBlack, 0 1px 0 @lightGrey;
      border-bottom: 1px solid rgba(0,0,0,.6);

      #gradient > .vertical(rgba(255,255,255,.1), rgba(0,0,0,.2));
      background-color: #777;
      padding: 0 @3px;

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }

    img {
      padding-top: @12px;
      vertical-align: top;
      .border-bottom-radius(@2px);
      display: inline-block;
      max-width: 100%;
    }

    &.mobile {
      width: 105*@px;
      .border-radius(@16px);
      padding-bottom: @32px;

      background-color: black;
      background-image: -webkit-linear-gradient(-165deg, rgba(255,255,255,0.4), rgba(255,255,255,0.15) 35%, transparent 35%);
      background-image:    -moz-linear-gradient(-165deg, rgba(255,255,255,0.4), rgba(255,255,255,0.15) 35%, transparent 35%);
      background-image:      -o-linear-gradient(-165deg, rgba(255,255,255,0.4), rgba(255,255,255,0.15) 35%, transparent 35%);
      background-image:         linear-gradient(-165deg, rgba(255,255,255,0.4), rgba(255,255,255,0.15) 35%, transparent 35%);
      background-repeat: no-repeat;

      .box-shadow(
        0 0 0 @1px black,
        0 0 0 @2px #a09f9d,
        0 @8px @8px rgba(0,0,0,.75),
        0 0 @24px rgba(0,0,0,.5)
      );
      border-top: none;
      &:before {
        content: ' ';
        height: @2px;
        width:  @8px;
        top:    @12px;
        left:   50%;
        margin-left: -@8px;
        background: #444;
        .border-radius(@4px);
        position: absolute;
        border: @2px solid black;
      }
      &:after {
        position: absolute;
        content: ' ';
        height:        @16px;
        width:         @16px;
        left:          50%;
        margin-left:   -@8px;
        bottom:        @8px;
        border-radius: @8px;
        #gradient > .horizontal(lighten(black, 15%), black);
      }
      img {
        width:  92*@px;
//        height: 134*@px;
        margin: 26*@px @3px 0;
        border: @1px solid black;
        .border-radius(0);
        padding-top: 0;
      }
    }
  }
}

html.item-404 {
  section#main {
    font-size: @8px;
    padding-bottom: @48px;
    h1 {
      font-size: @72px;
      margin: @24px 0 @12px;
    }
    a:link, a:visited {
      text-decoration: underline;
      color: white;
    }
  }
}

#changelog {
  text-align: left;
  width: 240*@px;
  margin: @12px auto 0;
  padding-bottom: @24px;

  a.permalink {
    position:     absolute;
    text-align:   right;
    width:        @8px;
    margin-left: -@10px;

    &:link, &:visited {
      color: darken(@bg, 5%);
    }
    &:hover, &:active {
      color: @mongoGreen;
      text-decoration: none;
    }
  }

  h3 {
    margin: @16px 0 @8px;
    color: @black;
    font-size: @12px;
    font-weight: bold;
  }

  p {
    margin: @4px 0;
  }

  ul {
    margin-left: @12px;
  }

  > ul {
    margin: @8px 0 @8px @12px;
  }

  ul {
    li {
      margin: @3px 0;

      &:before {
        font-weight: bold;
        font-size: 66%;
        content: '\2605';
        color: lighten(desaturate(@mongoGreen, 50%), 25%);
        margin: 0 .5em 0 -1.5em;
      }
    }
  }
}

html.item-changelog {
  body {
    padding-bottom: 0;
  }

  section#main {
    margin-top: @24px;
    background-color: #fff;
    color: @lightBlack;

    h1 {
      text-align: left;
      color: @grey;
      font-size: @24px;
      font-weight: bold;
      width: 240*@px;
      margin: 0 auto;
      padding-top: @24px;
    }
  }

  #share {
    display: none;
  }

  footer {
    position: inherit;
    .box-shadow(none);
    border-top-color: darken(@bg, 15%);
  }
}

#share {
  padding: @8px @16px;
  margin-bottom: @4px;
  background-color: darken(@bg, 3%);
  border-bottom: 1px solid darken(@bg, 15%);
  > div {
    display: inline-block;
    &.github-fork    { margin-left: -10px; }
    &.twitter-follow { margin-left: 2px;   }
    &.twitter-share  { margin-left: 4px;   }
    &.googleplus-one { margin-left: -4px;  }
    &.facebook-like  { margin-left: -14px; }
  }
  .fb-like { top: -1px; }
  // Make the fallback links not ugly.
  a:link, a:visited {
    color: @lightGrey;
    font-size: 12px;
  }
}

footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left:   0;
  right:  0;
  padding: 0 0 @4px;

  background-color: @bg;
  color: @lightGrey;

  .box-shadow(~"0 0 @{12px}rem rgba(0,0,0,.5)");
  border-top: 1px solid #AAA;
  p {
    margin: @8px 0 @4px;
  }
}
